*.qdb
*.qpg
*.qtl
*.ini
*.wlf
grayscale/sim/copper_grayscale.bmp
grayscale/sim/transcript
grayscale/sim/work/_info
grayscale/sim/work/_vmake
sobel/sim/copper_sobel.bmp
sobel/sim/transcript
sobel/sim/work/_info
sobel/sim/work/_vmake
